<!DOCTYPE html>
<html lang="en">
  <head>
    <meta encoding="utf-8">
    <title>Example Site - Contact</title>
    <style>
      main {
        width: 90%;
        max-width: 800px;
        margin: 0 auto;
        padding: 0 1em 1em 1em;

        background-color: #eee;
      }

      header ul, footer ul {
        margin: 0;
        padding: 0;

        list-style-type: none;
      }

      header li, footer li {
        display: inline-block;
      }

      header h1 {
        margin: 0;
      }

      footer {
        border-top: 1px solid #aaa;
      }

      footer h1 {
        font-size: 1em;
      }
    </style>
  </head>
  <body>
    <main>
      <header>
        <h1>Example Site</h1>
        <ul>
          <li><a href="/">Main</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </header>
      <div>
        <p>Contact us</p>

        <ul>
          <li>e-mail: <a href="#">example@example.com</a></li>
          <li>telephone: <a href="#">+1 000 555 1234</a>
        </ul>
      </div>

      <footer>
        <h1>Example Site</h1>
        <ul>
          <li><a href="/">Main</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
        <p class="copyright">
          All original content licensed
          <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
            Creative Commons CC-BY-SA 4.0
          </a>
        </p>
      </footer>
    </main>
  </body>
</html>
