<!DOCTYPE html>
<html lang="en">
  <head>
    <meta encoding="utf-8">
    <title>Example Site</title>
    <style>
      main {
        width: 90%;
        max-width: 800px;
        margin: 0 auto;
        padding: 0 1em 1em 1em;

        background-color: #eee;
      }

      header ul, footer ul {
        margin: 0;
        padding: 0;

        list-style-type: none;
      }

      header li, footer li {
        display: inline-block;
      }

      header h1 {
        margin: 0;
      }

      footer {
        border-top: 1px solid #aaa;
      }

      footer h1 {
        font-size: 1em;
      }
    </style>
  </head>
  <body>
    <main>
      <header>
        <h1>Example Site</h1>
        <ul>
          <li><a href="/">Main</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </header>
      <div>
        <p>Welcome to the main page of the website! The text that follows is
        only meant to take up space and make the page look more realistic.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
        imperdiet erat non urna eleifend, a vulputate nisi mattis. Suspendisse
        ac feugiat diam, quis congue tortor. Vestibulum viverra malesuada velit
        eget sodales. Cras vestibulum, diam et placerat semper, mi dui viverra
        ex, eget cursus turpis tortor vitae est. Mauris in quam vel turpis
        cursus vehicula sit amet eget augue. Integer gravida auctor efficitur.
        Etiam in hendrerit mi, eu venenatis nunc. Nulla vel velit tempor,
        sodales lacus et, fringilla eros. Duis orci ante, placerat eu urna et,
        ornare fringilla velit. Ut mauris enim, porttitor sed nisl ac,
        ultricies laoreet sem. Donec sit amet nulla nec sem ullamcorper posuere
        et ut ex. Vivamus in condimentum diam. Mauris scelerisque dui quis
        venenatis efficitur. Aliquam vehicula tortor at congue vehicula.</p>

        <p>Nulla tempus congue ornare. Duis lorem lacus, sagittis id maximus
        accumsan, rhoncus ac sem. Nam ut fermentum sem. Curabitur et ante sem.
        Morbi eu lacus volutpat, sagittis augue vitae, placerat nibh. Nulla
        auctor dui ac est pellentesque, nec fringilla est pellentesque. Nullam
        dapibus pretium efficitur.</p>

        <p>Maecenas bibendum, lectus vel cursus varius, enim ante porttitor
        ante, non semper diam tellus eu ipsum. Pellentesque eu faucibus velit.
        Nunc quis porta neque. Donec ut nibh pellentesque elit commodo auctor
        sed vitae arcu. Fusce nec lectus eu est laoreet ullamcorper. Duis
        molestie mollis neque non vestibulum. Suspendisse vitae vehicula
        lectus. Phasellus euismod tempor sagittis. Nunc sed iaculis sem. Nulla
        quis felis dignissim, iaculis augue at, feugiat nisi. Ut gravida
        faucibus massa sit amet finibus.</p>
      </div>

      <footer>
        <h1>Example Site</h1>
        <ul>
          <li><a href="/">Main</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
        <p class="copyright">
          All original content licensed
          <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
            Creative Commons CC-BY-SA 4.0
          </a>
        </p>
      </footer>
    </main>
  </body>
</html>
